<h2 style="margin-left: 40px; margin-top: 20px; text-align: center;">Hi, <%= @user.name %>. Here's a list of your saved items:</h2>
<br />

<p style="text-align: center;><%= button_to "Add New Item", new_alcohol_path, :method => :get, class: 'btn btn-secondary'%></p>

<h3 style="margin-left: 40px; margin-top: 20px;"> Wine </h3>
<ul>
	<% @user.alcohols.each do |alcohol| %>
			<% if alcohol.category == 'Wine' %>
				<li><%= link_to alcohol.brand, alcohol_path(alcohol) %></li>
			<% end %>
	<% end %>
</ul>

<h3 style="text-decoration: underline; margin-left: 40px; margin-top: 20px;"> Beer </h3>
<ul>
	<% @user.alcohols.each do |alcohol| %>
		<% if alcohol.category == 'Beer' %>
			<li><%= link_to alcohol.brand, alcohol_path(alcohol) %></li>
		<% end %>
	<% end %>
</ul>


<h3 style="text-decoration: underline; margin-left: 40px; margin-top: 20px;"> Liquor </h3>
<ul>
	<% @user.alcohols.each do |alcohol| %>
		<% if alcohol.category == 'Liquor' %>
		<li><%= link_to alcohol.brand, alcohol_path(alcohol) %></li>
		<% end %>
	<% end %>
</ul>

<br />

<%= button_to "Add New Item", new_alcohol_path, :method => :get, class: 'btn btn-secondary'%>
<br />
<br />
<%= button_to 'Delete Account', user_path(@user), :method => :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-secondary'  %>

