	<!-- All html, css, welcome page for our website asking you to login,
  which redirects you to your show page -->
<!-- landing page / where user will end up once they log in -->

<% if @user %>
	<section style="margin-left: 2.5rem;">
    <br>
  <h1 style="">Welcome <%= @user.name %>!</h1><br />
  <%= button_to 'Add New Alcohol', new_alcohol_path, :method => :get, class: 'btn btn-secondary'  %><br></section>


<% else %>

	<div class="jumbotron" style="background-color: #e1e6ea7d">
    <div style="text-align: center;">

    <h1 class="display-4" style="text-align: center;">Welcome!</h1>
    <p class="lead" style="text-align: center;">Login or sign up to start tracking your booze!</p>
      <%= button_to "Login or Sign Up", login_path, :method => :get, class: 'btn btn-secondary'%>
    </div>
  </div>



<% end %>
<br />

<div class="card-deck" style='display: flex; margin: 0rem 2rem;'>
  <% @random_alcs.each do |alc| %>

  <div class="card" style="width: 16rem; margin: .5rem;">
    <div class="card-body">
      <h5 class="card-title"><%= alc.brand %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= alc.variety %></h6><%= alc.year %> - <%= alc.notes %></p>
     <%= link_to "More", alcohol_path(alc) %>
    </div>
  </div>
  <% end %>

</div>







<!-- LINKS: -->



  <!-- see all wines / all beers / all liquors / all alcohols-->

  <!-- advertise some featured stuff -->
