	<!-- All html, css, welcome page for our website asking you to login,
  which redirects you to your show page -->
<!-- landing page / where user will end up once they log in -->

<% if @user %>
	<h1>Welcome <%= @user.name %></h1>
	<%= link_to 'Add New Alcohol', new_alcohol_path %><br>


<% else %>

	<h1>Welcome! Login or sign up to start tracking your booze!</h1>

<%= button_to "Login or Sign Up", login_path, :method => :get %>

<% end %>
<br />
<div class="container">
  <div class="row">
    <div class="col-sm">
     <%= @first.brand %> - <%= @first.variety %><br />
     <br><%= @first.year %><br />
     <%= @first.notes %>
    </div>
    <div class="col-sm">
      <%= @second.brand %> - <%= @second.variety %><br />
     <br><%= @second.year %><br />
     <%= @second.notes %>
    </div>
    <div class="col-sm">
      <%= @third.brand %> - <%= @third.variety %><br />
     <br><%= @third.year %><br />
     <%= @third.notes %>
    </div>
  </div>
</div>





<!-- LINKS: -->



  <!-- see all wines / all beers / all liquors / all alcohols-->

  <!-- advertise some featured stuff -->
