  <!-- add new alcohol to your profile -->
  <h3>Add Alcohol to Your Profile</h3>
  <br/>
  <%= form_for @alcohol do |f| %>

	<%= f.label :category %>
	<%= f.select :category, ['Wine', 'Beer', 'Liquor'] %>
  <br/><br/>
	<%= f.label :brand %>
	<%= f.text_field :brand %>
  <br/><br/>
	<%= f.label :variety %>
	<%= f.text_field :variety%>
  <br/><br/>
	<%= f.label :year %>
	<%= f.number_field :year%>
  <br/><br/>
	<%= f.label :notes %>
	<%= f.text_area :notes %>
  <br/><br/>
<!-- 	<%= f.submit "Add to Profile" %> -->
<%= button_to "Add to Profile", user_path(current_user.id), :method => :get, class: 'btn btn-secondary' %>

  <% end %>
