<!DOCTYPE html>
<html>
  <head>
    <title>BoozeApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand" style="background-color: #0062cc87;">
  <a class="navbar-brand" href="/"><img src="/goodlibeROSE.jpg" style=" mix-blend-mode: multiply;"></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <b><a class="nav-link gl-nav-bar-item" href="/wines">Wines<span class="sr-only">(current)</span></a></b>
      </li>
      <li class="nav-item active">
        <b><a class="nav-link gl-nav-bar-item" href="/beers">Beer<span class="sr-only">(current)</span></a></b>
      </li>
      <li class="nav-item active">
        <b><a class="nav-link gl-nav-bar-item" href="/liquors">Liquor<span class="sr-only">(current)</span></a></b>
      </li>
      <li class="nav-item active">
        <b><a class="nav-link gl-nav-bar-item" href="/alcohols">View All<span class="sr-only">(current)</span></a></b>
      </li>

    <% if current_user %>
    <li class="nav-item active">
        <a class="nav-link gl-nav-bar-item" href="/users/<%= current_user.id %>">Your Profile<span class="sr-only">(current)</span></a>
      </li>
     <li class="nav-item active">
        <a class="nav-link gl-nav-bar-item" href="/logout">Logout<span class="sr-only">(current)</span></a>
      </li>
      <% end %>




      <!-- <li class="nav-item active">
        <a class="nav-link" href="/users/<#%= current_user.id %>">Your Profile<span class="sr-only">(current)</span></a>
      </li> -->
    </ul>
     <%= form_tag alcohols_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Alcohol", :name => nil %>
  </p>
<% end %>

  </div>
</nav>
    <%= yield %>
  </body>
</html>
